.App {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  font-weight: lighter;
  color:#333333;
  margin:0px;
  padding: 0px

}

#reloadBtn:hover  {
  transform: scale(1.2, 1.2);
  cursor: pointer;
  animation-name: scale;
  animation-duration: 0.3s;
}



h1 img  {
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-duration: 10s;
  animation-timing-function: linear;
  box-shadow:4px 4px 14px #777777;
  border-radius: 50px;
}

.bitheader {
  display:flex;
  align-content:flex-start;
  justify-content: space-between;
  align-items: flex-end;
  padding:5%
}


.bitcards {
  display:flex;
  align-content:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  padding:30px;
  margin-top:-5%
}

.bitcard img {
  width:50px
}

.bitcard {
  display:flex;
  flex-direction: column;
  background:#ffffff;
  align-content:center;
  align-items: flex-start;
  justify-content: space-around;
  margin:8px;
  border-radius: 14px;
  font-size:0.9em;
  flex-wrap: wrap;
  box-shadow: 3px 4px 9px #777777;
  animation-name: pulse;
  animation-duration: 1.5s;
  width:20%;
  max-width:170px;
  min-width:130px;
  min-height:170px;
  padding:10px;
  font-family: 'Roboto', sans-serif;
}

@keyframes pulse {
  0% {
    opacity: 0%;
    transform: translate(0px,40px);
  }

  100% {
    opacity:100%;
    transform: translate(0px,0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-20deg);
  }
  
  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(20deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}